@charset "UTF-8";
.sidemenu-main .modules-container{
    min-height: 400px;
}
.sidemenu-main .modules-container .widget-header .widget-buttons{
	display: block;
	float: right;
}
.sidemenu-main .modules-container .widget-buttons a{
	font-size: 20px;
    color: #00BFFF;
}
.sidemenu-main .modules-container .widget-buttons a:hover{
	opacity: 0.6;
}
.sidemenu-main .modules-container a#save{
	/* display: none */
}
.sidemenu-main .dd-handle{
	cursor: pointer;
}
.sidemenu-main  span.level-operate {
    float: right;
    font-size: 1.5em;
}
.sidemenu-main #level1-list>.dd-item>.dd-handle span.level-operate a{
    color: #666;
    margin-left: 5px;
}
.sidemenu-main span.level-operate a:hover{
    color: #aaa;
}
.sidemenu-main .modules-container .level1-title>input[type="text"],
.sidemenu-main .modules-container .level2-title>input[type="text"] {
    padding: 2px 10px;
    width: 10em;
}
.sidemenu-main .modules-container select.module-select,
.sidemenu-main .modules-container select.group-select{
	float: right;
    padding: 2px 10px;
}
.sidemenu-main .modules-container span.tip-level-title {
    float: right;
    color: #bbb;
}
.sidemenu-main .modules-container span.tip-level-title:not(:empty):before {
    content: "(";
}
.sidemenu-main .modules-container span.tip-level-title:not(:empty):after {
    content: "ï¼‰";
}
.sidemenu-main .modules-container li[module-name]>.dd-handle {
    background-color: #ddd;
}
.sidemenu-main .modules-container li[module-name]>.dd-handle:hover {
    background-color: #ccc;
}
.sidemenu-main .modules-container span.level1-title, 
.sidemenu-main .modules-container span.level2-title {
    padding-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: text;
}

.sidemenu-main #level1-list>li>ol.dd-list {
    padding-left:  0;
    margin-left: 30px;
    min-height: 50px;
    padding-left: 5px;
    border: 1px solid #bbb;
}

.sidemenu-main .widget-body.menu-container,
.sidemenu-main .mds-container .widget-body {
    max-height: 400px;
    min-height: 100px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidemenu-main .dd-item.module-wrapper>.dd-handle {
    cursor: default;
    background-color: #6cac87;
    color: #fff;
}

.sidemenu-main #level1-list>.dd-item>.dd-handle {
    background-color: #769de0;
}
.sidemenu-main #level1-list>.dd-item>.dd-handle * {
    color: #fff;
}

.sidemenu-main .dd-item.module-wrapper>.dd-handle a {
    color: #fff;
}

.sidemenu-main li.module-wrapper li>div {
    border: 1px solid #ddd;
}

.sidemenu-main .level1-title>input[type="text"] {
    background-color: #769de0 !important;
    border: 1px solid #aaa;
}

ol#level1-list>li.dd-item[data-auths=""]
>.dd-handle>.level-operate>a>.authority-config{
	color: #aaa;
}

li.dd-item[group-id][data-auths=""]>div>.level-operate>a>i.authority-config {
    color: #ddd;
}

.sidemenu-main input#modules-search::-webkit-input-placeholder {
    color: #bbb;
}
.sidemenu-main .mds-container.searching li {
    display: none !important;
}

.sidemenu-main .mds-container.searching li.module-wrapper.searching-matched,
.sidemenu-main .mds-container.searching li.module-wrapper.searching-matched-part {
    display: block !important;
}

.sidemenu-main .mds-container.searching li.module-wrapper.searching-matched li {
    display: block !important;
}

.sidemenu-main .mds-container.searching li.module-wrapper.searching-matched-part li.searching-matched {
    display: block !important;
}

.sidemenu-main li.dd-item.module-wrapper.stat-module>.dd-handle {
    background-color: #2dc3e8;
}